[submodule "themes/risotto"]
	path = themes/risotto
	url = https://github.com/joeroe/risotto
[submodule "themes/console"]
	path = themes/console
	url = https://github.com/mrmierzejewski/hugo-theme-console.git
