:root {
    --page-width: 65em;
}


@media (prefers-color-scheme: light) {
    :root {
	--primary-color: #1572bd;
    }
}

@media only screen and (max-width: 850px) {
    .posts-list .date {
        display: inline-block;
        position: relative;
        z-index: auto;
        padding-bottom: 0;
        margin-bottom: 0;

    }
}

.remove-padding {
    padding-left: 0;
}



footer > p {
    padding: 0.2em;
    margin: 0;
}

footer > p:first-child{
    margin-bottom: 1em;
}

footer {
    clear: both;
    margin-top: 70px;
    padding-top: 10px;
    border-top: 1px solid var(--secondary-color);
    color: var(--font-color);
}

footer > .org-name{
    font-weight: bold;
    padding: 0.2em;
    margin: 0;
}